.container{
	width:970px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  /*max-width: 100%; */
  width: 100%;
  height: 380px;
  line-height: 1;
}

#footer { 

	background-color: #222;
	border-top: 1px solid #ccc;
 	clear: both;
  	text-align: center;
  	padding: 10px;
    color: #aaa;
    width: 100%;
	height:50px;
 }
 .main-col { width: 700px; display: inline-block; float: left; border-right: 1px solid #ccc; padding: 20px; margin-bottom: 20px; }
.sidebar { width: 239px; padding: 10px; display: inline-block; }

.Rahaform-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.Rahaform { font-size: 16px; }
form.Rahaform div { clear: left; margin-bottom: 10px; }
form.Rahaform label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.Rahaform input[type="text"],
form.Rahaform input[type="email"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.Rahaform textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.Rahaform input[type="submit"] { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.Rahaform ul li { color: #ff0000; margin-bottom: 5px; }